name: C CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: master
      run: make
    - name: groundstation
      run: cd groundstation && make
    - name: upload compiled file artifact
      uses: actions/upload-artifact@v4
      with:
          name: compiled_file
          path: compiled_file_artifact.out
